/*! CSS Used from: Embedded */
a{text-decoration:none;color:#005ea8;cursor:pointer;}
a:hover{text-decoration:underline;color:#c05702;}
img{border:0;}
form{border:0;margin:0;padding:0;}
input{font-size:12px;color:#575757;}
input:focus{outline:none;}
ul{list-style:square;padding-left:20px;}
input{font-family:Verdana, Arial, sans-serif;line-height:normal;font-size:12px;}
input{padding:2px;}
/*! CSS Used from: Embedded */
*{box-sizing:border-box;}
::after,::before{box-sizing:border-box;}
a,b,div,form,h1,h2,h3,img,label,li,p,span,strong,ul{border:0;font-size:100%;margin:0;padding:0;vertical-align:baseline;}
*,::after,::before{box-sizing:inherit;}
.main-content{position:relative;display:-ms-flexbox;display:flex;width:100%;min-width:994px;max-width:1280px;margin:0 auto;}
.main-content__right{position:relative;width:100%;min-width:739px;margin-left:15px;}
.main-content__left{min-width:240px;}
@media (min-width:1160px){
.main-content__left{min-width:280px;}
}
@media (min-width:1280px){
.main-content__left{min-width:300px;}
}
@media print{
.main-content__left{min-width:240px;}
}
.result-list{position:relative;}
.grade{width:68px;height:80px;position:relative;cursor:pointer;text-align:center;padding-top:22px;background-image:url(https://finanzen.check24.de/accounts/static/svg/grade_desktop_blue.svg);background-repeat:no-repeat;}
.grade__description,.grade__type,.grade__value{line-height:1;font-weight:700;display:block;}
.grade__value{color:#333;margin-bottom:5px;font-size:24px;}
.grade__type{color:#333;margin-bottom:5px;font-size:9px;font-weight:400;}
.grade__description{letter-spacing:-.055em;color:#fff;font-size:10px;}
.grade-overlay__header{background:#f4f4f4;padding:15px;}
.grade-overlay__header{position:relative;}
.grade-overlay__content{position:relative;padding:10px 15px;}
.grade-overlay__content__section{margin-bottom:15px;}
.grade-overlay__headline{color:#575757;margin:0;padding-right:15px;line-height:120%;font-size:14px;font-weight:700;}
.grade-overlay__sub-headline__criterion-left{text-align:left;}
.grade-overlay__sub-headline__criterion-right{text-align:right;}
.grade-overlay__sub-headline--section{border-bottom:1px solid #dcdcdc;color:#575757;font-size:14px;margin-bottom:7px;padding-bottom:2px;}
.grade-overlay__criterions,.grade-overlay__sub-headline{-ms-flex-align:start;align-items:flex-start;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;margin:5px 0;}
.grade-overlay__criterions{line-height:15px;}
.grade-overlay__criterions:last-of-type{margin-bottom:10px;}
.grade-overlay__criterion-left{-ms-flex-align:start;align-items:flex-start;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex:1;flex:1;}
.grade-overlay__criterion-right{min-width:50px;text-align:right;}
.grade-overlay__criterion-right--total-score{border-top:1px solid #dcdcdc;text-align:right;width:100px;}
.grade-overlay__criterion-name{margin-right:30px;-ms-flex:1;flex:1;}
.grade-overlay__criterion-value{text-align:right;max-width:180px;}
.grade-overlay__icon-wrapper{width:30px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:end;align-items:flex-end;}
.grade-overlay__icon{position:relative;}
.grade-overlay__icon--available::before{content:"";line-height:1;font-size:inherit;font-weight:400;font-family:icon-accounts;color:#7ab51d;}
.grade-overlay__icon--partly-available::before{content:"";line-height:1;font-size:inherit;font-weight:400;font-family:icon-accounts;color:#f6b800;}
.grade-overlay__icon--not-available::before{content:"";line-height:1;font-size:inherit;font-weight:400;font-family:icon-accounts;color:#e30613;}
.grade-overlay__icon::before{font-size:16px;margin-right:5px;vertical-align:bottom;}
.spinner{position:absolute;left:0;width:100%;height:100%;z-index:100;background-color:rgba(255,255,255,.8);display:none;}
.spinner::after{display:none;}
.spinner__icon::before{content:'';animation:spinner-rotation .7s infinite linear;width:80px;height:80px;display:block;background-image:url(https://finanzen.check24.de/accounts/static/svg/spinner_standard.svg);background-repeat:no-repeat;background-position:center;background-size:cover;}
.spinner--small .spinner__icon::before{width:50px;height:50px;background-image:url(https://finanzen.check24.de/accounts/static/svg/spinner_small.svg);}
.spinner--centered .spinner__icon{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.spinner--results{left:-10px;right:-10px;top:0;bottom:0;width:auto;height:auto;z-index:101;text-align:center;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:center;justify-content:center;padding-top:15px;}
.spinner--results .spinner__icon{position:fixed;display:inline;margin-top:100px;}
.spinner--grades{top:0;border:1px solid #005ea8;}
.spinner--grades .spinner__icon{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.spinner--grades .spinner__icon::before{width:30px;height:30px;background-image:url(https://finanzen.check24.de/accounts/static/svg/spinner_small.svg);}
.kill-label{display:-ms-flexbox;display:flex;margin-top:6px;font-size:11px;line-height:12px;font-weight:400;text-align:left;color:#fff;}
.kill-label__wrapper{width:auto;}
.kill-label__wrapper .overlay,.kill-label__wrapper [data-overlay-opener]{display:block;}
.kill-label__text{-ms-flex:0 0 auto;flex:0 0 auto;padding:2px 4px;}
.kill-label__text{font-size:11px;border-radius:2px;}
.kill-label__text--exclusive{background-color:#f07c00;}
.kill-label__text--acceptence-likelihood-middle-rate{background-color:#f6b800;}
.kill-label__text--acceptence-likelihood-low-rate{background-color:#999;}
.kill-label__text--bank-cashback-bonus{background-color:#008300;width:100%;text-align:center;margin-top:2px;}
.kill-label__text--bank-cashback-bonus:first-child{margin-top:0;}
.product-promo-label{width:110px;margin-left:-10px;justify-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;}
.product-promo-label--bonus-guarantee{width:120px;min-height:40px;}
.product-promo-label [data-overlay-opener]{display:block;}
.product-promo-label__contents{font-size:11px;line-height:12px;font-weight:400;color:#fff;border:1px solid #dcdcdc;border-radius:3px 0 0 3px;border-right:0;margin-right:-10px;padding-right:5px;text-align:right;-ms-flex-pack:end;justify-content:flex-end;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;background-color:#fff;}
.product-promo-label__contents--bonus-guarantee{margin-right:-10px;-ms-flex-pack:center;justify-content:center;position:relative;}
.product-promo-label__contents__text{-ms-flex:0 0 auto;flex:0 0 auto;padding:5px 0;}
.product-promo-label__contents__text{font-size:11px;color:#005ea8;background-color:#fff;width:80px;line-height:12px;text-align:left;font-weight:700;}
.product-promo-label__contents__text--bonus-guarantee{margin-left:10px;width:95%;line-height:15px;color:#666;}
.product-promo-label__logo-c24{color:#005ea8;padding-left:52px;}
.product-promo-label__logo-c24::before{content:"";line-height:1;font-size:20px;font-weight:400;font-family:icon-accounts;color:#005ea8;position:absolute;top:2px;left:7px;}
.benefit-list{padding-left:0;margin:0;list-style:none;}
.benefit-list__item{position:relative;padding-left:20px;margin-bottom:8px;line-height:16px;}
.benefit-list__item:first-child{margin-top:0;}
.benefit-list__item:last-child{margin-bottom:0;}
.benefit-list__item__text{color:#575757;line-height:16px;}
.benefit-list__item__text{position:relative;}
.benefit-list__item__text--info-icon::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-1px;margin-left:4px;}
.benefit-list__item--positive::before{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#7ab51d;position:absolute;left:0;}
.benefit-list__item--positive::before{line-height:inherit;}
.carousel{position:relative;}
.carousel__nav{position:absolute;top:0;height:100%;width:10px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;z-index:10;pointer-events:none;}
.carousel__nav__icon-prev{height:40px;cursor:pointer;pointer-events:visible;}
.carousel__nav__icon-prev::before{content:"";line-height:1;font-size:36px;font-weight:400;font-family:icon-accounts;color:#dcdcdc;transform:rotate(180deg);display:inline-block;}
.carousel__nav__icon-next{height:40px;cursor:pointer;pointer-events:visible;}
.carousel__nav__icon-next::before{content:"";line-height:1;font-size:36px;font-weight:400;font-family:icon-accounts;color:#dcdcdc;}
.carousel__nav--prev{left:15px;}
.carousel__nav--next{right:15px;}
.carousel__slide{transition-duration:.5s;text-align:center;-ms-flex-negative:0;flex-shrink:0;position:relative;width:100%;}
.carousel__slide:not(:only-child){transition-property:transform;transform:translate(-100%);}
.carousel__wrapper{width:100%;overflow:hidden;}
.carousel__inner-wrapper{display:-ms-flexbox;display:flex;}
.mobile-payment-logos{display:-ms-flexbox;display:flex;}
.mobile-payment-logos__wrapper{display:-ms-flexbox;display:flex;position:relative;min-height:10px;-ms-flex:0 auto;flex:0 auto;}
.mobile-payment-logos--for-zero-element{margin:0;display:-ms-flexbox;display:flex;-ms-flex-line-pack:center;align-content:center;-ms-flex-align:end;align-items:flex-end;}
.mobile-payment-logos__logo{height:26px;width:auto;vertical-align:top;}
.mobile-payment-logos__logo-wrapper:not(:last-child){margin-right:6px;}
.overlay{cursor:help;position:relative;display:inline-block;vertical-align:bottom;-webkit-tap-highlight-color:transparent;z-index:inherit;}
.overlay__inner,.overlay__inner>.overlay__content{transition-delay:0;transform:unset;visibility:hidden;opacity:0;pointer-events:none;}
.overlay__content{transition-delay:.1s;font-family:Verdana,Arial,Helvetica,sans-serif;background:#fff;border:1px solid #005ea8;box-shadow:0 0 8px 0 rgba(0,0,0,.45);color:#666;line-height:16px;padding:15px;text-align:left;position:absolute;width:330px;z-index:150;visibility:hidden;opacity:0;font-size:12px;font-weight:400;}
.overlay__content--visible{visibility:visible;opacity:1;}
.overlay__content__title{color:#575757;font-size:12px;font-weight:700;line-height:19px;margin:0 0 15px;}
.overlay__content__text{color:#666;font-size:12px;line-height:16px;padding:0;}
.overlay__content__text h3{color:#575757;font-size:12px;font-weight:700;line-height:19px;margin:0 0 15px;}
.overlay__content__text ul{margin:20px 0;padding-left:15px;}
.overlay__content__text ul:last-child{margin-bottom:0;}
.overlay__content__text ul li{list-style:disc;margin:0;padding:2px 0;line-height:16px;}
.overlay__content__text ul li:first-child{padding-top:0;}
.overlay__content__text ul li:last-child{padding-bottom:0;}
.overlay__content::after,.overlay__content::before{content:'';border-style:solid;position:absolute;width:0;height:0;}
.overlay__content:hover{color:#666;}
.overlay__content[data-position=top]{bottom:calc(100% + 10px);left:50%;transform:translate(-50%,0);}
.overlay__content[data-position=top]::after,.overlay__content[data-position=top]::before{left:50%;transform:translate(-50%,0);}
.overlay__content[data-position=top]::before{bottom:-11px;}
.overlay__content[data-position=top]::after{bottom:-10px;}
.overlay__content[data-position=top]::after,.overlay__content[data-position=top]::before{border-color:transparent;}
.overlay__content[data-position=top]::after,.overlay__content[data-position=top]::before{border-width:10px calc(16px / 2) 0 calc(16px / 2);}
.overlay__content[data-position=top]::before{border-top-color:#005ea8;}
.overlay__content[data-position=top]::after{border-top-color:#fff;}
.overlay__content[data-position=top-left]{bottom:calc(100% + 10px);right:0;}
.overlay__content[data-position=top-left]::after,.overlay__content[data-position=top-left]::before{right:15px;}
.overlay__content[data-position=top-left]::before{bottom:-11px;}
.overlay__content[data-position=top-left]::after{bottom:-10px;}
.overlay__content[data-position=top-left]::after,.overlay__content[data-position=top-left]::before{border-color:transparent;}
.overlay__content[data-position=top-left]::after,.overlay__content[data-position=top-left]::before{border-width:10px calc(16px / 2) 0 calc(16px / 2);}
.overlay__content[data-position=top-left]::before{border-top-color:#005ea8;}
.overlay__content[data-position=top-left]::after{border-top-color:#fff;}
.overlay__content[data-position=top-right]{bottom:calc(100% + 10px);left:0;}
.overlay__content[data-position=top-right]::after,.overlay__content[data-position=top-right]::before{left:15px;}
.overlay__content[data-position=top-right]::before{bottom:-11px;}
.overlay__content[data-position=top-right]::after{bottom:-10px;}
.overlay__content[data-position=top-right]::after,.overlay__content[data-position=top-right]::before{border-color:transparent;}
.overlay__content[data-position=top-right]::after,.overlay__content[data-position=top-right]::before{border-width:10px calc(16px / 2) 0 calc(16px / 2);}
.overlay__content[data-position=top-right]::before{border-top-color:#005ea8;}
.overlay__content[data-position=top-right]::after{border-top-color:#fff;}
.overlay__content[data-position=left]{top:50%;right:calc(100% + 10px);transform:translate(0,-50%);}
.overlay__content[data-position=left]::after,.overlay__content[data-position=left]::before{top:50%;transform:translate(0,-50%);}
.overlay__content[data-position=left]::before{right:-11px;}
.overlay__content[data-position=left]::after{right:-10px;}
.overlay__content[data-position=left]::after,.overlay__content[data-position=left]::before{border-color:transparent;}
.overlay__content[data-position=left]::after,.overlay__content[data-position=left]::before{border-width:calc(16px / 2) 0 calc(16px / 2) 10px;}
.overlay__content[data-position=left]::before{border-left-color:#005ea8;}
.overlay__content[data-position=left]::after{border-left-color:#fff;}
.overlay__content--grade-overlay{width:450px;padding:0;}
[data-overlay-opener]{display:inline-block;}
.overlay-opener{display:inline-block;}
.efeedback__rating{display:inline-block;}
.efeedback__rating::after{content:'';display:table;clear:both;}
.efeedback__rating__star{display:inline-block;background-size:100%;margin-right:2px;float:left;height:14px;width:14px;}
.efeedback__rating__star--empty{background-image:url(https://finanzen.check24.de/accounts/static/svg/ef-star-o.svg);}
.efeedback__rating__star--half{background-image:url(https://finanzen.check24.de/accounts/static/svg/ef-star-half-o.svg);}
.efeedback__rating__star--full{background-image:url(https://finanzen.check24.de/accounts/static/svg/ef-star.svg);}
.efeedback__rating__number{color:#575757;}
.efeedback__rating__number--gray{color:#666;}
.efeedback-rating{display:inline-block;}
.efeedback-rating::after{content:'';display:table;clear:both;}
.efeedback-rating__star{display:inline-block;background-size:100%;margin-right:2px;float:left;height:14px;width:14px;}
.efeedback-rating__star--empty{background-image:url(https://finanzen.check24.de/accounts/static/svg/ef-star-o.svg);}
.efeedback-rating__star--full{background-image:url(https://finanzen.check24.de/accounts/static/svg/ef-star.svg);}
.filter-chips{padding:0;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.button{box-sizing:border-box;color:#fff;background-color:#0271c2;text-align:center;border-radius:3px;border:none;text-decoration:none;width:100%;display:inline-block;padding:12px 16px;cursor:pointer;line-height:inherit;font-size:14px;font-weight:700;font-family:arial;}
.button:active,.button:focus,.button:hover{background-color:#015fa4;color:#fff;text-decoration:none;}
.button--only-text{background-color:transparent;border:1px solid #dcdcdc;border-radius:3px;color:#999;text-align:center;line-height:14px;padding:5px 10px;display:block;cursor:default;font-weight:400;font-size:10px;font-family:verdana;}
.button--only-text:active,.button--only-text:focus,.button--only-text:hover{background-color:transparent;text-decoration:none;color:#666;}
.button--thin{padding:10px 6px;}
.result-footer{margin:20px 0;}
.result-footer::after{content:'';display:table;clear:both;}
.result-footer__link-wrapper{display:-ms-inline-flexbox;display:inline-flex;-ms-flex-direction:column;flex-direction:column;}
.result-footer__last-update,.result-footer__link{font-size:12px;}
.result-footer__last-update{float:right;color:#666;}
.result-footer__to-mobile-version{float:right;color:#005ea8;}
.result-footer__link{float:left;color:#005ea8;margin-right:20px;}
.input,.select-replace__selected-option{display:block;width:100%;color:#666;border:1px solid #b4b4b4;padding:0 10px;height:40px;line-height:38px;font-size:13px;font-weight:400;}
.input:hover,.select-replace__selected-option:hover{border-color:#575757;color:#575757;}
.input:active,.input:focus,.select-replace__selected-option:active,.select-replace__selected-option:focus{border-color:#005ea8;}
.input:disabled,.select-replace__selected-option:disabled{background-color:#f4f4f4;color:#999;}
.input:disabled:active,.input:disabled:focus,.input:disabled:hover,.select-replace__selected-option:disabled:active,.select-replace__selected-option:disabled:focus,.select-replace__selected-option:disabled:hover{border-color:#b4b4b4;}
.input--addon{border-radius:3px;padding-right:30px;}
.input--addon::-ms-clear{display:none;}
.input--addon:hover{border-color:#005ea8;}
.input-group{position:relative;}
.input-addon{display:block;}
.input-addon--euro{position:absolute;right:10px;top:50%;transform:translate(0,-50%);}
.input-addon--euro::after{content:'€';display:block;}
.label{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;padding:11px 0;font-size:12px;font-weight:700;}
.label--and-additional{padding-bottom:0;}
.additional-label{color:#999;display:block;margin-bottom:5px;font-weight:400;font-size:11px;}
.checkbox{position:relative;}
.checkbox__label{display:inline-block;position:relative;line-height:16px;cursor:pointer;padding-left:28px;width:100%;}
.checkbox__label::before{content:'';display:block;width:18px;height:18px;position:absolute;left:0;top:50%;transform:translate(0,-50%);background-color:#fff;border:2px solid #b4b4b4;}
.checkbox__label:active,.checkbox__label:focus,.checkbox__label:hover{color:#222;}
.checkbox__label:active::before,.checkbox__label:focus::before,.checkbox__label:hover::before{content:"";line-height:1;font-size:inherit;font-weight:400;font-family:icon-accounts;color:#fff;}
.checkbox__label:active::before,.checkbox__label:focus::before,.checkbox__label:hover::before{border-color:#005ea8;background:#005ea8;text-align:center;line-height:1.3em;}
.checkbox__label__text{display:block;}
.checkbox__label__additional{font-size:11px;line-height:14px;display:block;color:#999;}
.checkbox__label--disabled{color:#b4b4b4;cursor:default;}
.checkbox__label--disabled::before{background-color:#fff;border:2px solid #b4b4b4;}
.checkbox__label--disabled:active,.checkbox__label--disabled:focus,.checkbox__label--disabled:hover{color:#b4b4b4;}
.checkbox__label--disabled:active::before,.checkbox__label--disabled:focus::before,.checkbox__label--disabled:hover::before{border-color:#b4b4b4;background:0 0;}
.checkbox__label--no-pointer-events{pointer-events:none;}
.checkbox__input{display:none;}
.checkbox__input:checked+.checkbox__label::before{content:"";line-height:1;font-size:inherit;font-weight:400;font-family:icon-accounts;color:#fff;}
.checkbox__input:checked+.checkbox__label::before{background-color:#005ea8;border-color:#005ea8;text-align:center;line-height:15px;}
.checkbox__input:checked+.checkbox__label--no-pointer-events{pointer-events:auto;cursor:pointer;}
.checkbox--comparison{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;min-height:32px;position:absolute;top:-20px;left:10px;width:125px;}
@media (min-width:1160px){
.checkbox--comparison{width:175px;}
}
.radio-button__option{padding-bottom:15px;}
.radio-button__option:last-child{padding-bottom:0;}
.radio-button__label{display:inline-block;position:relative;line-height:18px;cursor:pointer;padding-left:28px;}
.radio-button__label::after{content:'';display:table;clear:both;}
.radio-button__label::before{content:'';display:block;width:18px;height:18px;border-radius:50%;position:absolute;left:0;top:50%;transform:translate(0,-50%);background-color:#fff;border:2px solid #b4b4b4;}
.radio-button__label:active,.radio-button__label:focus,.radio-button__label:hover{color:#222;}
.radio-button__label:active::before,.radio-button__label:focus::before,.radio-button__label:hover::before{border-color:#005ea8;background-color:transparent;text-align:center;line-height:15px;z-index:1;}
.radio-button__label:active::after,.radio-button__label:focus::after,.radio-button__label:hover::after{content:'';display:block;border:5px solid #fff;width:18px;height:18px;border-radius:50%;background-color:#005ea8;text-align:center;line-height:15px;position:absolute;left:0;top:50%;transform:translate(0,-50%);z-index:0;}
.radio-button__input{display:none;}
.radio-button__input:checked+.radio-button__label::before{border-color:#005ea8;background-color:transparent;text-align:center;line-height:15px;z-index:1;}
.radio-button__input:checked+.radio-button__label::after{content:'';display:block;border:5px solid #fff;width:18px;height:18px;border-radius:50%;background-color:#005ea8;text-align:center;line-height:15px;position:absolute;left:0;top:50%;transform:translate(0,-50%);z-index:0;}
.radio-button--horizontal{border:1px solid #dcdcdc;border-radius:3px;display:-ms-flexbox;display:flex;}
.radio-button--horizontal .radio-button__option{height:40px;width:50%;padding-left:10px;}
.radio-button--horizontal .radio-button__option:first-child{border-right:1px solid #dcdcdc;}
.radio-button--horizontal .radio-button__option:hover{box-shadow:0 0 0 1px #005ea8;}
.radio-button--horizontal .radio-button__label{line-height:40px;width:100%;}
.select-replace{position:relative;}
.select-replace__selected-option{cursor:pointer;padding-right:26px;border-radius:3px;}
.select-replace__selected-option::after{content:'';display:table;clear:both;}
.select-replace__selected-option::before{content:"";line-height:1;font-size:11px;font-weight:400;font-family:icon-accounts;color:#666;position:absolute;right:10px;top:50%;transform:translate(0,-50%);}
.select-replace__label{float:left;display:block;}
.select-replace__dropdown{display:none;position:absolute;width:100%;z-index:1;background-color:#fff;border-left:1px solid;border-right:1px solid;border-bottom:1px solid;border-color:#005ea8;}
.select-replace__dropdown__option{padding:2px 10px;cursor:pointer;height:28px;line-height:27px;}
.select-replace__dropdown__option::after{content:'';display:table;clear:both;}
.select-replace__dropdown__option:focus,.select-replace__dropdown__option:hover{background-color:#005ea8;color:#fff;}
.select-replace--open{border-color:#005ea8;}
.select-replace--open .select-replace__selected-option{border-color:#005ea8;}
.select-replace--open .select-replace__selected-option::before{color:#005ea8;}
.select-replace--open .select-replace__dropdown{z-index:2;display:block;border-color:#575757;}
.account-fees{margin-bottom:13px;}
.account-fees:first-child{margin-bottom:16px;}
.account-fees__row{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;padding-bottom:5px;position:relative;}
.account-fees__values{min-width:105px;padding:0 5px;-ms-flex:0 0 auto;flex:0 0 auto;}
.account-fees__values__current-value{display:block;line-height:16px;color:#c82d2d;text-align:right;font-size:18px;}
.account-fees__description{padding:0 5px;-ms-flex:1 1 auto;flex:1 1 auto;}
.account-fees__description__text{display:block;}
.account-fees__description__text--with-overlay::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-1px;margin-left:4px;}
.account-fees__card-logo{width:45px;position:absolute;right:0;}
.account-fees__card-logo::after{content:'';display:table;clear:both;}
.account-fees__card-logo__image{display:block;width:100%;max-width:35px;float:right;}
.account-bonuses{display:-ms-flexbox;display:flex;padding:0 0 10px;}
.account-bonuses__labels{min-width:105px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:end;align-items:flex-end;}
.account-bonuses__description{padding:0 5px;-ms-flex:1 1 auto;flex:1 1 auto;margin-top:6px;}
.account-bonuses__value-wrapper{display:inline-block;}
.atm-count__value{display:block;margin-bottom:5px;}
.atm-count__value__text{position:relative;display:block;line-height:20px;font-size:18px;}
.atm-count__value__text--overlay::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-7px;left:2px;}
.atm-count__description b{color:#23972f;}
.deposit-interest{margin-bottom:5px;}
.deposit-interest__value{display:block;}
.deposit-interest__value__text{display:block;line-height:20px;font-size:18px;}
.deposit-interest__value__text--with-overlay{position:relative;}
.deposit-interest__value__text--with-overlay::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-7px;left:2px;}
.assets-interest__value__text{display:block;}
.assets-interest__value__text--with-overlay{position:relative;}
.assets-interest__value__text--with-overlay::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-4px;left:2px;}
.assets-interest__description{white-space:nowrap;}
.zero-fees{position:relative;margin-right:5px;}
.zero-fees__row{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;-ms-flex-direction:column;flex-direction:column;}
.zero-fees__description{-ms-flex:1 1 auto;flex:1 1 auto;padding:0;display:-ms-flexbox;display:flex;-ms-flex-pack:end;justify-content:flex-end;}
.zero-fees__values{padding:0;min-width:auto;}
.zero-fees__values__current-value{display:block;color:#c82d2d;text-align:right;padding-top:12px;font-size:24px;line-height:24px;font-weight:400;}
.zero-fees__values__current-value--with-overlay::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-4px;right:-5px;margin-left:0;}
.zero-fees__values__description{display:-ms-flexbox;display:flex;-ms-flex-pack:end;justify-content:flex-end;margin-right:10px;}
.zero-fees__values__zero-text{text-align:right;font-size:12px;}
.promotion-ribbon{position:relative;top:-1px;}
.promotion-ribbon--zero{position:absolute;left:0;}
.promotion-ribbon__inner{background-color:#002646;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;line-height:25px;position:relative;padding:0 10px;cursor:help;}
.promotion-ribbon__inner__icon{-ms-flex:0 0 auto;flex:0 0 auto;color:#fff;font-size:12px;margin-left:10px;position:relative;}
.promotion-ribbon__inner__icon::before{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#fff;}
.promotion-ribbon__inner__text{-ms-flex:0 1 auto;flex:0 1 auto;color:#fff;font-size:12px;font-weight:400;text-align:center;overflow:hidden;text-overflow:ellipsis;}
.promotion-ribbon__inner__text--secondary{color:#f79a31;}
.promotion-ribbon__inner__edge-right{height:0;width:0;position:absolute;top:0;z-index:1;border-style:solid;border-color:#002646 transparent transparent;border-width:25px 10px 0 0;float:right;right:-10px;}
.filter-status{color:#666;margin-bottom:10px;}
.sort-bar{margin-bottom:15px;}
.sort-bar__list{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;box-sizing:border-box;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background-color:#fff;font-size:13px;margin:0;padding:0;list-style:none;}
.sort-bar__list__item{display:block;cursor:pointer;position:relative;padding:8px 7px;color:#575757;margin-bottom:-1px;margin-left:-1px;border-bottom:2px solid transparent;text-align:center;-ms-flex:1 1 auto;flex:1 1 auto;}
.sort-bar__list__item::after{content:'';display:block;position:absolute;left:0;top:8px;height:calc(100% - 8px * 2);width:1px;border-left:1px solid #dcdcdc;}
.sort-bar__list__item:first-child{margin-left:0;}
.sort-bar__list__item:hover{background:#dcdcdc;}
.sort-bar__list__item.active{cursor:auto;color:#666;border-bottom-color:#005ea8;background:#ecf7fd;}
.sort-bar__list__item.active+.sort-bar__list__item::after,.sort-bar__list__item.active::after,.sort-bar__list__item:first-child::after{display:none;}
.efeedback__rating{vertical-align:text-top;}
.product-panel{border:1px solid #dcdcdc;margin-bottom:10px;min-height:140px;background:#fff;display:-ms-flexbox;display:flex;position:relative;-ms-flex-flow:column nowrap;flex-flow:column nowrap;}
.product-panel:hover{box-shadow:0 0 4px 0 rgba(0,0,0,.2);border-color:#999;}
.product-panel:last-child{margin-bottom:0;}
.product-panel--zero-element{background:#ecf7fd;}
.product-panel__title{padding:8px 10px 0;}
.product-panel__title__text{font-size:14px;font-weight:700;color:#575757;}
.product-panel__title__text--small{font-size:12px;}
.product-panel__title__text--thin{font-size:12px;font-weight:400;}
.product-panel__title__counter{color:#b4b4b4;}
.product-panel__title__counter--highlighted{color:#333;}
.product-panel__close-icon{padding:5px;z-index:1;position:absolute;right:5px;top:10px;width:26px;height:26px;cursor:pointer;}
.product-panel__close-icon::after{content:"";line-height:1;font-size:16px;font-weight:400;font-family:icon-accounts;color:#666;}
.product-panel__close-icon--zero-element{top:5px;right:10px;}
.product-panel--with-zero-panel{visibility:hidden;position:absolute;}
.product-panel__details{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:nowrap;flex-wrap:nowrap;position:relative;width:100%;min-height:135px;}
.product-panel__points{width:50px;vertical-align:top;margin-bottom:7px;margin-right:6px;}
.product-panel__item{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex:1 0 auto;flex:1 0 auto;-ms-flex-pack:start;justify-content:flex-start;padding:10px;}
.product-panel__item--logo{width:125px;}
@media (min-width:1160px){
.product-panel__item--logo{width:170px;}
}
@media print{
.product-panel__item--logo{width:125px;}
}
.product-panel__item--grade{padding-left:0;}
.product-panel__item--atm-count-labels{width:225px;padding:10px 0;-ms-flex-flow:column;flex-flow:column;}
@media (min-width:1280px){
.product-panel__item--atm-count-labels{width:300px;}
}
.product-panel__item--account-fees{width:289px;}
@media (min-width:1280px){
.product-panel__item--account-fees{width:320px;}
}
.product-panel__item__logo{margin-bottom:9px;}
.product-panel__item__logo img{display:block;cursor:pointer;width:auto;height:auto;max-width:100%;max-height:40px;}
.product-panel__item-row{display:-ms-flexbox;display:flex;}
.product-panel__sub-item{padding:0 10px;}
.product-panel__sub-item--atm-count{width:140px;}
@media (min-width:1280px){
.product-panel__sub-item--atm-count{width:210px;padding-right:20px;}
}
.product-panel__sub-item--assets-deposit-interest{width:110px;}
.product-panel__controls{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;width:100%;min-height:50px;position:relative;}
.product-panel__controls__button{margin:0 10px 10px;width:130px;-ms-flex-item-align:end;align-self:flex-end;}
.product-panel__controls__tabs{display:-ms-flexbox;display:flex;-ms-flex:1 1 auto;flex:1 1 auto;-ms-flex-item-align:end;align-self:flex-end;-ms-flex-pack:start;justify-content:flex-start;}
.product-panel__tabs-item{padding:10px 0 10px 10px;position:relative;cursor:pointer;line-height:140%;color:#575757;border:1px solid transparent;margin:0 5px -1px 0;display:-ms-flexbox;display:flex;}
.product-panel__tabs-item--digital::before{content:"";line-height:1;font-size:16px;font-weight:400;font-family:icon-accounts;color:#0e821e;position:absolute;top:9px;left:1px;margin-left:4px;margin-right:8px;transform:rotate(90deg);display:inline-block;}
.product-panel__tabs-item--digital-and-paper::before{content:"";line-height:1;font-size:16px;font-weight:400;font-family:icon-accounts;color:#80a35a;position:absolute;top:9px;left:1px;margin-left:4px;margin-right:8px;transform:rotate(0);display:inline-block;}
.product-panel__tabs-item--paper::before{content:"";line-height:1;font-size:16px;font-weight:400;font-family:icon-accounts;color:#999;position:absolute;top:12px;left:1px;margin-left:4px;margin-right:8px;transform:rotate(-90deg);display:inline-block;}
@media (min-width:1160px){
.product-panel__tabs-item{margin-right:25px;}
}
.product-panel__tabs-item:hover{text-decoration:underline;color:#c05702;}
.product-panel__tabs-item:hover .product-panel__tabs-arrow::after{border-color:#c05702 transparent transparent;}
.product-panel__tabs-item:hover .efeedback__rating__number{color:#c05702;}
.product-panel__tabs-item--with-gap-medium{margin-right:183px;}
@media (min-width:1160px){
.product-panel__tabs-item--with-gap-medium{margin-right:220px;}
}
.product-panel__tabs-item--with-gap-big{margin-right:293px;}
@media (min-width:1160px){
.product-panel__tabs-item--with-gap-big{margin-right:352px;}
}
.product-panel__tabs-item--efeedback{width:180px;padding-left:8px;}
.product-panel__tabs-item--digital,.product-panel__tabs-item--digital-and-paper,.product-panel__tabs-item--paper{padding-left:30px;}
.product-panel__tabs-arrow{position:relative;width:22px;}
.product-panel__tabs-arrow::after{border-color:#575757 transparent transparent;border-style:solid;border-width:6px 4px 0;bottom:0;content:'';height:0;margin:auto;position:absolute;top:0;width:0;right:0;left:0;}
.product-panel__wrapper{padding:15px 10px 10px;}
.product-panel__tabs-content{display:none;height:100%;background-color:#fff;bottom:0;box-sizing:border-box;font-size:12px;left:0;position:relative;width:100%;}
.product-panel__bottom-line{display:-ms-flexbox;display:flex;position:relative;min-height:10px;margin-bottom:15px;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.product-panel__sustainability-img{width:85px;}
.product-panel__sustainability-icon::after{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#666;position:relative;top:-26px;left:2px;}
.product-panel__sustainability-wrapper{min-height:37px;}
.zero-elements{display:-ms-flexbox;display:flex;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:10px;}
.zero-panel{border:1px solid #dcdcdc;margin:0 10px 0 0;background:#ecf7fd;-ms-flex:1;flex:1;width:0;display:-ms-flexbox;display:flex;position:relative;-ms-flex-flow:row wrap;flex-flow:row wrap;-ms-flex-line-pack:justify;align-content:space-between;box-shadow:0 0 2px 0 rgba(0,0,0,.12);}
.zero-panel:first-child{margin-left:0;}
.zero-panel:last-child{margin-right:0;}
.zero-panel:hover{box-shadow:0 0 4px 0 rgba(0,0,0,.2);border-color:#999;}
.zero-panel__header{padding:10px;margin-top:24px;justify-self:flex-start;-ms-flex:0 1 100%;flex:0 1 100%;-ms-flex-direction:column;flex-direction:column;}
.zero-panel__header__row{-ms-flex:1 1 100%;flex:1 1 100%;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;}
.zero-panel__body{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;padding:0 10px;}
.zero-panel__item{-ms-flex:0 1 auto;flex:0 1 auto;}
.zero-panel__item--product-name{font-size:12px;margin-bottom:10px;color:#575757;font-weight:700;}
.zero-panel__item--benefits{width:60%;-ms-flex:1 1 auto;flex:1 1 auto;min-height:50px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;}
.zero-panel__item--grade{margin-left:10px;}
.zero-panel__item--grade .grade{cursor:default;}
.zero-panel__item--labels{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:start;align-items:flex-start;-ms-flex-line-pack:center;align-content:center;-ms-flex:0 1 100%;flex:0 1 100%;-ms-flex-flow:nowrap;flex-flow:nowrap;-ms-flex-direction:row;flex-direction:row;margin-right:1px;}
.zero-panel__item--labels .kill-label{margin-right:4px;}
.zero-panel__item--labels-left{-ms-flex-item-align:center;align-self:center;-ms-flex-positive:1;flex-grow:1;display:-ms-flexbox;display:flex;-ms-flex-flow:wrap;flex-flow:wrap;}
.zero-panel__item--logo{-ms-flex:0 1 60%;flex:0 1 60%;}
.zero-panel__payment{width:100%;margin-bottom:8px;}
.zero-panel__image-wrapper{width:100px;height:40px;}
@media (min-width:1160px){
.zero-panel__image-wrapper{width:150px;}
}
.zero-panel__image{cursor:pointer;width:auto;height:auto;max-width:100%;max-height:100%;}
.zero-panel__footer{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:end;align-items:flex-end;-ms-flex-line-pack:end;align-content:flex-end;-ms-flex-flow:row nowrap;flex-flow:row nowrap;width:100%;min-height:65px;padding:0 10px 10px;margin-top:10px;}
.zero-panel__footer__button{white-space:nowrap;}
.zero-panel__footer__button .button--thin{padding:10px 16px;}
.zero-panel__footer__feedback{position:relative;line-height:140%;color:#005ea8;margin:0 5px 0 0;display:-ms-flexbox;display:flex;-ms-flex:1;flex:1;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-item-align:end;align-self:flex-end;}
.filter-bar__container{border:1px solid #dcdcdc;margin-bottom:15px;background-color:#fff;}
.filter-bar__header{padding:10px 10px 11px;border-bottom:1px solid #dcdcdc;color:#575757;font-size:15px;}
.filter-bar__section{padding:0 10px;}
.filter-bar__section__header{position:relative;}
.filter-bar__section__label{-ms-flex-align:center;align-items:center;}
.filter-bar__section__help-icon{display:inline-block;margin-left:5px;}
.filter-bar__section__help-icon::before{content:"";line-height:1;font-size:18px;font-weight:400;font-family:icon-accounts;color:#999;}
.filter-bar__section__help-icon::before{display:block;}
.filter-bar__section__option{padding-bottom:15px;}
.filter-bar__section__option input.input:focus:-ms-input-placeholder{transition:opacity .5s ease-out;opacity:0;}
.filter-bar__section__option input.input:focus::placeholder{transition:opacity .5s ease-out;opacity:0;}
.filter-bar__section:last-child{padding-bottom:15px;}
.filter-bar__section:last-child .filter-bar__section__option{padding-bottom:0;}
.filter-bar__section--collapse .filter-bar__section__header{position:relative;cursor:pointer;border-top:1px solid #dcdcdc;padding-right:20px;}
.filter-bar__section--collapse .filter-bar__section__header::before{content:"";line-height:1;font-size:11px;font-weight:400;font-family:icon-accounts;color:#666;position:absolute;right:0;top:50%;transform:translate(0,-50%);}
.filter-bar__section--collapse .filter-bar__section__header:first-child{border-top:0;}
.filter-bar__section--collapse .filter-bar__section__content{display:none;}
.filter-bar__section--collapse-active .filter-bar__section__content{display:block;}
.filter-bar__reset{display:block;padding-top:12px;}
.consultant-slider{background-color:#fff;border:1px solid #dcdcdc;margin-bottom:10px;font-size:12px;min-height:140px;line-height:17px;-webkit-user-select:none;-ms-user-select:none;user-select:none;padding:10px 15px;}
.consultant-slider:hover{box-shadow:0 0 4px 0 rgba(0,0,0,.25);border-color:#999;}
@media print{
.consultant-slider{page-break-inside:avoid;}
}
.consultant-slide{display:-ms-flexbox;display:flex;padding-left:10px;}
.consultant-slide--left{margin-left:20px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:space-evenly;justify-content:space-evenly;width:100px;}
.consultant-slide--left__img{border:1px solid #dcdcdc;height:100px;width:100px;border-radius:50%;}
.consultant-slide--right{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:space-evenly;justify-content:space-evenly;width:calc(100% - 100px);margin-left:35px;}
.consultant-slide__explanation{margin-top:10px;text-align:left;border-top:1px solid #dcdcdc;padding:25px 0 15px;}
.consultant-slide__explanation h1{font-size:16px;font-weight:400;color:#575757;margin:0 0 2px;}
.consultant-slide__explanation h2{font-size:15px;font-weight:400;color:#575757;margin:0;}
.consultant-slide__explanation__section{min-height:50px;position:relative;box-sizing:border-box;width:100%;margin-top:20px;}
.consultant-slide__explanation__section:first-child{margin-top:0;}
.consultant-slide__explanation__section__text{padding-left:90px;}
.consultant-slide__explanation__section__text:first-child{padding-left:0;}
.consultant-slide__explanation__icon{position:absolute;width:50px;height:50px;left:20px;top:3px;}
.consultant-slide__name{-ms-flex-item-align:center;align-self:center;color:#000;white-space:nowrap;}
.consultant-slide__quote-wrapper{height:100px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-right:30px;}
.consultant-slide__quote{display:-ms-flexbox;display:flex;background-color:#ecf7fd;padding:20px;color:#575757;font-size:18px;line-height:22px;border-radius:6px;position:relative;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;text-align:left;min-height:84px;}
.consultant-slide__quote::after{position:absolute;right:100%;top:50%;width:0;height:0;margin-top:-13px;border:13px solid transparent;pointer-events:none;border-right-color:#ecf7fd;content:' ';}
.consultant-slide__footer{display:-ms-flexbox;display:flex;-ms-flex-align:end;align-items:flex-end;text-align:left;-ms-flex-pack:justify;justify-content:space-between;}
.consultant-slide__footer__description{margin-left:20px;}
.consultant-slide__footer__contact{text-align:center;-ms-flex-item-align:center;align-self:center;}
.consultant-slide__footer__head{color:#575757;font-size:14px;margin-bottom:6px;margin-top:10px;overflow:visible;}
.consultant-slide__footer__phone{white-space:nowrap;font-size:14px;line-height:18px;-ms-flex-item-align:center;align-self:center;color:#005ea8;}
.consultant-slide__footer__phone-icon::before{content:"";line-height:1;font-size:16px;font-weight:400;font-family:icon-accounts;color:#005ea8;}
.consultant-slide__footer__paragraph{white-space:nowrap;font-size:12px;overflow:hidden;color:#999;text-overflow:ellipsis;font-style:normal;}
.consultant-slide__toggle-explanation{width:80px;-ms-flex-wrap:nowrap;flex-wrap:nowrap;text-align:right;}
.consultant-slide__toggle-icon{margin-left:3px;cursor:pointer;}
.consultant-slide__toggle-icon::before{content:"";line-height:1;font-size:12px;font-weight:400;font-family:icon-accounts;color:#005ea8;}
.consultant-slide__toggle-icon:hover{text-decoration:none;}
.consultant-slide__clock-icon::before{content:"";line-height:1;font-size:40px;font-weight:400;font-family:icon-accounts;color:#005ea8;}
.consultant-slide__contract-with-certificate-icon::before{content:"";line-height:1;font-size:40px;font-weight:400;font-family:icon-accounts;color:#005ea8;}
.consultant-slide__speech-bubbles-icon::before{content:"";line-height:1;font-size:40px;font-weight:400;font-family:icon-accounts;color:#005ea8;}
.transparency-banner{border:1px solid #dcdcdc;margin-bottom:10px;background-color:#fff;border-radius:3px;display:-ms-flexbox;display:flex;}
.transparency-banner__content{margin:10px 10px 10px 15px;width:100%;font-size:13px;}
.transparency-banner__closer{margin:10px;width:16px;height:16px;cursor:pointer;background:url(https://finanzen.check24.de/accounts/img/icons/svg/close.svg) no-repeat 100% 0;background-size:contain;}
@media print{
.zero-panel__item--benefits{min-height:140px;}
.zero-panel__item--labels{min-height:50px;-ms-flex-align:end;align-items:flex-end;}
.overlay__content{display:none;}
}
/*! CSS Used from: Embedded */
::-webkit-input-placeholder{color:#979999!important;}
:-ms-input-placeholder{color:#979999!important;}
::placeholder{color:#979999!important;}
/*! CSS Used keyframes */
@keyframes spinner-rotation{from{transform:rotate(0);}to{transform:rotate(360deg);}}
@keyframes spinner-rotation{from{transform:rotate(0);}to{transform:rotate(360deg);}}
/*! CSS Used fontfaces */
@font-face{font-family:icon-accounts;src:url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.eot?7s6i5f);src:url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.eot?7s6i5f#iefix) format("embedded-opentype"),url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.ttf?7s6i5f) format("truetype"),url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.woff?7s6i5f) format("woff"),url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.svg?7s6i5f#icon-accounts) format("svg");font-weight:400;font-style:normal;}
@font-face{font-family:icon-accounts;src:url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.eot?7s6i5f);src:url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.eot?7s6i5f#iefix) format("embedded-opentype"),url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.ttf?7s6i5f) format("truetype"),url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.woff?7s6i5f) format("woff"),url(https://konten.c24static.de/accounts/static/fonts/icon-accounts.svg?7s6i5f#icon-accounts) format("svg");font-weight:400;font-style:normal;}