
a {
    text-decoration: none;
    color: #005ea8;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #c05702;
}

form {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    font-size: 12px;
    color: #575757;
}

input:focus {
    outline: none;
}

input {
    font-family: Verdana, Arial, sans-serif;
    line-height: normal;
    font-size: 12px;
}

input {
    padding: 2px;
}

/*! CSS Used from: Embedded */
* {
    box-sizing: border-box;
}

a,
div,
form,
label,
span {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.main-content__left {
    min-width: 240px;
}

@media (min-width:1160px) {
    .main-content__left {
        min-width: 280px;
    }
}

@media (min-width:1280px) {
    .main-content__left {
        min-width: 300px;
    }
}

@media print {
    .main-content__left {
        min-width: 240px;
    }
}

[data-overlay-opener] {
    display: inline-block;
}

.overlay {
    cursor: help;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    -webkit-tap-highlight-color: transparent;
    z-index: inherit;
}

.input,
.select-replace__selected-option {
    display: block;
    width: 100%;
    color: #666;
    border: 1px solid #b4b4b4;
    padding: 0 10px;
    height: 40px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 400;
    width: calc(100% - 40px);
}

.input:hover,
.select-replace__selected-option:hover {
    border-color: #575757;
    color: #575757;
}

.input:active,
.input:focus,
.select-replace__selected-option:active,
.select-replace__selected-option:focus {
    border-color: #005ea8;
}

.input:disabled,
.select-replace__selected-option:disabled {
    background-color: #f4f4f4;
    color: #999;
}

.input:disabled:active,
.input:disabled:focus,
.input:disabled:hover,
.select-replace__selected-option:disabled:active,
.select-replace__selected-option:disabled:focus,
.select-replace__selected-option:disabled:hover {
    border-color: #b4b4b4;
}

.input--addon {
    border-radius: 3px;
    padding-right: 30px;
}

.input--addon::-ms-clear {
    display: none;
}

.input--addon:hover {
    border-color: #005ea8;
}

.input-group {
    position: relative;
}

.input-addon {
    display: block;
}

.input-addon--euro {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.input-addon--euro::after {
    content: '€';
    display: block;
}

.label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 11px 0;
    font-size: 12px;
    font-weight: 700;
}

.label--and-additional {
    padding-bottom: 0;
}

.additional-label {
    color: #999;
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 11px;
}

.checkbox {
    position: relative;
}

.checkbox__label {
    display: inline-block;
    position: relative;
    line-height: 16px;
    cursor: pointer;
    padding-left: 28px;
    width: 100%;
}

.checkbox__label::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    border: 2px solid #b4b4b4;
}

.checkbox__label:active,
.checkbox__label:focus,
.checkbox__label:hover {
    color: #222;
}

.checkbox__label:active::before,
.checkbox__label:focus::before,
.checkbox__label:hover::before {
    content: "";
    line-height: 1;
    font-size: inherit;
    font-weight: 400;
    font-family: icon-accounts;
    color: #fff;
}

.checkbox__label:active::before,
.checkbox__label:focus::before,
.checkbox__label:hover::before {
    border-color: #005ea8;
    background: #005ea8;
    text-align: center;
    line-height: 1.3em;
}

.checkbox__label__text {
    display: block;
}

.checkbox__label__additional {
    font-size: 11px;
    line-height: 14px;
    display: block;
    color: #999;
}

.checkbox__label--disabled {
    color: #b4b4b4;
    cursor: default;
}

.checkbox__label--disabled::before {
    background-color: #fff;
    border: 2px solid #b4b4b4;
}

.checkbox__label--disabled:active,
.checkbox__label--disabled:focus,
.checkbox__label--disabled:hover {
    color: #b4b4b4;
}

.checkbox__label--disabled:active::before,
.checkbox__label--disabled:focus::before,
.checkbox__label--disabled:hover::before {
    border-color: #b4b4b4;
    background: 0 0;
}

.checkbox__label--no-pointer-events {
    pointer-events: none;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked+.checkbox__label::before {
    content: "";
    line-height: 1;
    font-size: inherit;
    font-weight: 400;
    font-family: icon-accounts;
    color: #fff;
}

.checkbox__input:checked+.checkbox__label::before {
    background-color: #005ea8;
    border-color: #005ea8;
    text-align: center;
    line-height: 15px;
}

.checkbox__input:checked+.checkbox__label--no-pointer-events {
    pointer-events: auto;
    cursor: pointer;
}

.radio-button__option {
    padding-bottom: 15px;
}

.radio-button__option:last-child {
    padding-bottom: 0;
}

.radio-button__label {
    display: inline-block;
    position: relative;
    line-height: 18px;
    cursor: pointer;
    padding-left: 33px;
}

.radio-button__label::after {
    content: '';
    display: table;
    clear: both;
}

.radio-button__label::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    border: 2px solid #b4b4b4;
}

.radio-button__label:active,
.radio-button__label:focus,
.radio-button__label:hover {
    color: #222;
}

.radio-button__label:active::before,
.radio-button__label:focus::before,
.radio-button__label:hover::before {
    border-color: #005ea8;
    background-color: transparent;
    text-align: center;
    line-height: 15px;
    z-index: 1;
}

.radio-button__label:active::after,
.radio-button__label:focus::after,
.radio-button__label:hover::after {
    content: '';
    display: block;
    border: 5px solid #fff;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #005ea8;
    text-align: center;
    line-height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 0;
}

.radio-button__input {
    display: none;
}

.radio-button__input:checked+.radio-button__label::before {
    border-color: #005ea8;
    background-color: transparent;
    text-align: center;
    line-height: 15px;
    z-index: 1;
    padding-left: 1px;
}

.radio-button__input:checked+.radio-button__label::after {
    content: '';
    display: block;
    border: 5px solid #fff;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #005ea8;
    text-align: center;
    line-height: 15px;
    position: absolute;
    transform: translate(0, -50%);
    z-index: 0;
    padding-left: 1px;

}

.radio-button--horizontal {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
}

.radio-button--horizontal .radio-button__option {
    height: 27px;
    width: 50%;
    padding-left: 10px;
}

.radio-button--horizontal .radio-button__option:first-child {
    border-right: 1px solid #dcdcdc;
}

.radio-button--horizontal .radio-button__option:last-child {
    border-right: 1px solid #dcdcdc;
    height: 42px;
}

‚.radio-button--horizontal .radio-button__option:hover {
    box-shadow: 0 0 0 1px #005ea8;
}

.radio-button__option:hover {
    height: 27px;
}

.radio-button--horizontal .radio-button__label {
    line-height: 40px;
    width: 100%;
    height: auto;

}

.select-replace {
    position: relative;
}

.select-replace__selected-option {
    cursor: pointer;
    padding-right: 26px;
    border-radius: 3px;
}

.select-replace__selected-option::after {
    content: '';
    display: table;
    clear: both;
}

.select-replace__selected-option::before {
    content: "";
    line-height: 1;
    font-size: 11px;
    font-weight: 400;
    font-family: icon-accounts;
    color: #666;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.select-replace__label {
    float: left;
    display: block;
}

.select-replace__dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #005ea8;
}

.select-replace__dropdown__option {
    padding: 2px 10px;
    cursor: pointer;
    height: 28px;
    line-height: 27px;
}

select-replace--open {
    border-color: #005ea8;
}

.select-replace--open .select-replace__dropdown {

    z-index: 2;
    display: block;
    border-color: #575757;

}

.select-replace__dropdown__option::after {
    content: '';
    display: table;
    clear: both;
}

.select-replace__dropdown__option:focus,
.select-replace__dropdown__option:hover {
    background-color: #005ea8;
    color: #fff;
}

.filter-bar__container {
    border: 1px solid #dcdcdc;
    margin-bottom: 15px;
    background-color: #fff;
}

.filter-bar__header {
    padding: 10px 10px 11px;
    border-bottom: 1px solid #dcdcdc;
    color: #575757;
    font-size: 15px;
}

.filter-bar__section {
    padding: 0 10px;
}

.filter-bar__section__header {
    position: relative;
}

.filter-bar__section__label {
    -ms-flex-align: center;
    align-items: center;
}

.filter-bar__section__help-icon {
    display: inline-block;
    margin-left: 5px;
}

.filter-bar__section__help-icon::before {
    content: "";
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    font-family: icon-accounts;
    color: #999;
}

.filter-bar__section__help-icon::before {
    display: block;
}

.filter-bar__section__option {
    padding-bottom: 15px;
}

.filter-bar__section__option input.input:focus:-ms-input-placeholder {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.filter-bar__section__option input.input:focus::placeholder {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.filter-bar__section:last-child {
    padding-bottom: 15px;
}

.filter-bar__section:last-child .filter-bar__section__option {
    padding-bottom: 0;
}

.filter-bar__section--collapse .filter-bar__section__header {
    position: relative;
    cursor: pointer;
    border-top: 1px solid #dcdcdc;
    padding-right: 20px;
}

.filter-bar__section--collapse .filter-bar__section__header::before {
    content: "";
    line-height: 1;
    font-size: 11px;
    font-weight: 400;
    font-family: icon-accounts;
    color: #666;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.filter-bar__section--collapse .filter-bar__section__header:first-child {
    border-top: 0;
}

.filter-bar__section--collapse .filter-bar__section__content {
    display: none;
}

.filter-bar__section--collapse-active .filter-bar__section__content {
    display: block;
}

.filter-bar__reset {
    display: block;
    padding-top: 12px;
}

/*---*/
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    line-height: 1;
    font-size: .9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: none;
    opacity: 0;
}

[data-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 5em;
    max-width: 25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 24px 8px;
    background: #fffefe;
    color: #060304;
    border: 0.7px solid #356284;
    padding: 2rem;
    z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    opacity: 1;
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #4621FF;
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 5px);
}

[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
    transform: translate(-50%, -4px);
}

[data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    /* border-bottom-color: #4621FF; */
}

[data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 5px);
}

[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
    transform: translate(-50%, 8px);
}

[data-tooltip][data-flow="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #fff;
    left: calc(0em - 5px);
    -webkit-transform: translate(-8px, -50%);
    transform: translate(-8px, -50%);
}

[data-tooltip][data-flow="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-8px, -50%);
    transform: translate(-8px, -50%);
}

[data-tooltip][data-flow="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #005ea8;
    right: calc(0em - 5px);
    -webkit-transform: translate(8px, -50%);
    transform: translate(8px, -50%);
}

[data-tooltip][data-flow="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(8px, -50%);
    transform: translate(8px, -50%);
}

[data-tooltip=""]::after,
[data-tooltip=""]::before {
    display: none !important;
}