
/* ==== Card ==== */
.card {
    background-color: var(--crl-gray-2);
    margin: 1rem;
    border: 1px solid  var(--crl-gray-1);
    border-radius: 0.5rem;
  }
  
  .card-body{
    padding: 1rem;
  }
  
  .card-body > * {
    margin-bottom: 0.5rem;
  }
    
  .price {
    font-size: 2rem;
    font-weight: bold;
  }
  
  
  @media only screen and (max-width: 414px) {
    img.medium {
      max-width: max-content;
      height: 100%;
    } 
    .card {
      background-color: var(--crl-gray-2);
      margin: 1rem;
      border: 1px solid  var(--crl-gray-1);
      border-radius: 0.5rem;
    }
    .img.medium {max-width:30px !important; padding:0;}	
    .center {text-align: center!important;}	 
  }